---
# Only the main Scss file needs front matter
---

@charset "utf-8";

// Typography (nanogram)
$font-family-default: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-family-headings: Palatino, Georgia, "Times New Roman", serif;
$font-family-code: 'Source Code Pro', "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", monospace;

// Grid (nanogram)
$container-max-width: 30rem;
$page-max-width: 128rem;

// Colors
$text-color: #373f51;
$hyperlink-color: #006394;
$hyperlink-hover-color:  #006BE6;
$hyperlink-color-dark: #006BE6;
$background-color: #f4f5f6;
$background-color-dark:  darken($hyperlink-color, 26%);
$border-color: #949494;
$inline-code-color: #265C83; // also, author
$inline-code-background-color: #d9dfe5;

// Focus & Hover outline
$a11y-outline: 3px solid $hyperlink-hover-color;

@import // files in `_scss`
    "base",
  "site",
  "posts",
  "tags",
  "bits",
  "front_page",
  "about",
  "404",
  "cheat_sheets",
  "playlists";
