---
layout: default
permalink: /404.html
title: 404 Not Found
---
<section class="not-found">

  {% include page-title.html %}

  <article>
    <p class="error-message">
      The page you are looking for doesn't exist
    </p>

    <p>
      <small>
        Head back <a rel="noopener" href="/">home</a> if not
        redirected after a few seconds.
      </small>
    </p>
  </article>
</section>
