---
layout: default
title: About
---

<section class="about">
  {% include page-title.html %}

  <article>
    <p class="about-copy">
      {{ site.title }} is a collection of notes, and cheat sheets on secure coding,
      testing, and other software development best practices. As these pages
      focus on ever-changing technologies, and evolving practices, the
      content is far from static.
    </p>
    <p>
      Most articles are succint* on purpose; {{ site.title }} is
      more documentation-like than a blog.
      <small>*Succintness relative to books, not blog posts.</small>
    </p>
    <p>
      All subjects in {{ site.title }} are scatterly covered in these sections:
    </p>

    <dl class="about-descriptions">
      <dt>Posts</dt>
      <dd>
        Notes, and summaries on coding, its tools, and technologies.
      </dd>

      <dt>Cheat sheets</dt>
      <dd>How-tos on tools, libraries, and practices.</dd>

      <dt>Bits</dt>
      <dd>Today-I-learned like micro posts.</dd>

      <dt>Playlists</dt>
      <dd>Talks, tutorials, and lectures sources to many ideas in Posts.</dd>
    </dl>
  </article>

  <div class="about-footer">
    <small>
      Crafted with
      <span class="heart" role="img" aria-label="love">♡</span> by
      <a rel="noopener noreferrer" href="{{site.author.website}}">
        {{ site.author.name }}
      </a>
    </small>
  </div>

  <h2>Licenses</h2>
  <p>
    Copyright &copy; René Maya. <small>Except where noted.</small>
  </p>
  <p>
    All of {{ site.title }} textual contents are licensed under Creative Commons
    <a href="{{ site.data.sites.licenses.by-sa }}">By-SA</a>.
    Code snippets are licensed
    <a href="{{ site.data.sites.licenses.isc }}">ISC</a>.
  </p>
  <p>
    {{ site.title }} codebase can be found at the official
    <a rel="nofollow noopener noreferrer" href="{{site.repo}}">
      repo.
    </a>
  </p>

  <h2>Disclaimer</h2>

  <p>
    The author(s) disclaim all warranties for any information herein. In no
    event shall the author(s) be liable for any special, direct, indirect, or
    consequential damages or any damages whatsoever resulting from loss of use,
    data or profits, whether in an action of contract, negligence or other
    tortious action, arising out of or in connection with the use or performance
    of the contents of this site.
  </p>


</section>
