---
layout: default
title: Cheat Sheets
---

<section class="cheat-sheets">
  {% include page-title.html %}

  <hr>

  <p>
    How-tos on tools, libraries, and practices.
  </p>

  {% for sheet in site.cheat-sheets %}
  {% comment %} Ommit index.html from list, cleanly {% endcomment %}
  {% if sheet.title != 'Cheat Sheets' %}
  <dl class="cheat-sheet-list">
    <dt>
      <a rel="noopener" href="{{ sheet.url | prepend: site.baseurl }}">
        {{ sheet.title }}
      </a>
    </dt>
    <dd>
      {{ sheet.description }}
    </dd>
  </dl>
  {% endif %}
  {% endfor %}
</section>
