{% if paginator.total_pages > 1 %}
<footer class="pagination" aria-label="Pagination">
  <ul>
    {% if paginator.previous_page %}
    <li>
      <a rel="prev noopener" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" aria-label="Go to page {{ paginator.previous_page }}">
        &larr;
      </a>
    </li>
    {% endif %}

    <li>
      <em>{{ paginator.page }}&ThickSpace;of&ThickSpace;{{ paginator.total_pages }}</em>
    </li>

    {% if paginator.next_page %}
    <li>
      <a rel="next noopener" href="{{ paginator.next_page_path | prepend: site.baseurl }}" aria-label="Go to page {{ paginator.next_page }}">
        &rarr;
      </a>
    </li>
    {% endif %}
  </ul>
</footer>
{% endif %}
