<section class="playlists">
  <header>
    <h1>{{ include.title }}</h1>
  </header>
  <hr>
  <p>
    {{ include.description }}
  </p>
  <ul class="playlist">
    {% for video in include.videos %}
    <li>
      <a href="{{ playlist_slug }}{{ video.slug }}">
        {{ video.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
