---
layout: default
title: Bits
pagination:
  enabled: true
  category: 'bits'
---

<section class="bits">
  {% include page-title.html %}

  <hr>

  <section>
    <p>
      Today-I-learned liked micro-posts. <small>(may move to Posts)</small>
    </p>
    <p>
      On this page:
    </p>
    <nav>
      {% for bit in paginator.posts %}
      <ul>
        <li>
          <a rel="noopener" href="#{{ bit.url }}">
            {{ bit.title }}
          </a>
        </li>
      </ul>
      {% endfor %}
    </nav>

    {% include pagination.html %}
  </section>

  <hr>

  {% for bit in paginator.posts %}
  <article class="bit">
    <h2 id="{{ bit.url }}">
      {{ bit.title }}
    </h2>

    {{ bit.content }}
  </article>
  <hr class="bit-divider">
  {% endfor %}

  {% include pagination.html %}
</section>
