$bullet-1st: "\2014\ " !default; // unicode for "&mdash; "
$bullet-2nd: "+ " !default;
$bullet-3rd: "* " !default;

.bits nav,
.front-page,
.cheat-sheet,
.playlists,
.post {
  ul {
    > li:before {
      color: $border-color;
      font-size: 0.75rem;
    }

    li:before { content: $bullet-1st; }

    ul {
      > li { margin-left: $leading/2; }
      li:before { content: $bullet-2nd; }
      ul li:before { content: $bullet-3rd; }
    }
  }
}
