.cheat-sheets { @extend .main }
.cheat-sheets dt { @extend .lead }
.cheat-sheets dd { margin: $leading/6; margin-left: $leading }
.cheat-sheets dl { margin: $leading/6 0; }

.cheat-sheet-list {
  small { font-size: .55rem }
}

.cheat-sheet {
  @extend .container;

  .table { overflow-x: auto; }
}
