.playlists { @extend .main; }
.playlists dt { @extend .lead; }
.playlists dd { margin: $leading/6; margin-left: $leading; }

.playlist {
  small { font-size: .55rem; }
}

.current-playlist { @extend .main; }

.video {
  @extend .main;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.video-frame {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.video-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-divider { @extend .divider }
