.site-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: $leading * 3;
  justify-content: center;
  align-items: center;

  a:hover { color: $hyperlink-color-dark; }
}

.to-main-content {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.to-main-content:focus {
  position: static;
  color: $hyperlink-hover-color;
  text-decoration: none;
  outline: $a11y-outline;
  transition: 0.3s;
  clip: auto;
  height: auto;
  width: auto;
}

.site-nav {
  @extend .column;
  padding: 0 .5em;

  ul {
    @extend .row;
    max-width: $page-max-width;
    justify-content: center;
  }

  li { margin: 0 .1em; }

  a[aria-current] {
    color: $text-color;
    text-decoration: underline;
  }

  a[aria-current]:focus,
  a[aria-current]:hover { outline: 1.5px solid $text-color; }
}

.site-widgets {
  @extend .row;
  justify-content: center;
  align-items: center;
  margin: 0 0 .8em 0;
}

.search-box {

  input[type="text"] {
    font-size: 18px;
    height: 40px;
    margin: 0;
    max-width: 160px;
    padding: 0;
  }

  input[type="submit"] {
    font-size: 18px;
    height: 40px;
    margin: 0;
    max-width: 75px;
    padding: 0;
  }

  input:focus,
  input:hover {
    outline: $a11y-outline;
  }
}

.feed {
  height: 40px;
  margin: 0;
  max-width: 40px;
}

.site-main { margin-bottom: $leading; }

.site-footer {
  @extend .row;
  margin-left: 0;
  max-width: $page-max-width;
  background-color: $background-color-dark;
  align-items: baseline;
  justify-content: space-around;

  ul.footer-license {
    display: flex;
    max-width: $page-max-width;
    align-self: center;

    li { margin: 0 .5em; }
  }

  a:hover { color: $hyperlink-color-dark; }
}

@media (min-width: 400px) {
  .site-nav{
    li { margin: 0 .5em; }
  }
}
