html,
body,
dt,
dd,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea { margin: 0 }

html { box-sizing: border-box; overflow-x: hidden }

*,
*:before,
*:after { box-sizing: inherit }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe { border: 0 }
