---
layout: default
title: Posts
---

<section class="tags">
  {% include page-title.html %}

  <hr>

  <p>
    Notes, and book summaries ranging from code style to computer science.
  </p>

  <article>
    <p>
      There are currently {{ site.posts | size }} posts on:
    </p>
    <ul>
      {% for tag in site.tags %}
      <li class="tag">
        <a rel="noopener" href="{{ tag.first | prepend: site.baseurl }}">

          {{ tag.first | capitalize | replace: "-", " " }}

          <small>{% assign _posts = tag.last | size %}

            {{ _posts }}

            {% if _posts == 1 %}
              post
            {% else %}
              posts
            {% endif %}
          </small>
        </a>
      </li>
    {% endfor %}
    </ul>
  </article>
</section>
