---
layout: default
---

<section class="playlists">
  <header>
    <h1>
      {{ page.title | capitalize | replace: "-", " " }}
    </h1>
  </header>
  <dl class="playlist">
    {% for post in paginator.posts %}
    {% unless post.categories contains 'bits' %}
    <dt>
      <a rel="noopener" href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </dt>
    <dd>
      {{ post.description }}
    </dd>
    {% endunless %}
    {% endfor %}
  </dl>

  {% include pagination.html %}
</section>
