<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Strict-Transport-Security" content="max-age=30; includeSubdomains;">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-Frame-Options" content="DENY">
    <meta name="referrer" content="no-referrer">
    {% comment %}
    'require-sri-for script' may break web extensions, suggest upstream sri
    If google fonts have been dropped, make it 'require-sri-for script style'
    {% endcomment %}
    {% unless jekyll.environment == "development" %}

    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests;
                  require-sri-for script;
                  default-src 'none';
                  base-uri 'none';
                  frame-ancestors 'none';
                  form-action https://duckduckgo.com/;
                  script-src 'none';
                  font-src 'none';
                  img-src 'self';
                  frame-src https://www.youtube-nocookie.com/embed/ https://player.vimeo.com/video/;
                  style-src 'self';"
    >
    {% endunless %}

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="/favicon.ico" type="image/gif">

    <title>
      {% if page.title %}
      {{ page.title }} | {{ site.title }}
      {% else %}
      {{ site.title }}
      {% endif %}
    </title>

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    {% if page.tags %}
    <meta name="tags" content="{{ page.tags }}">
    {% endif %}

    {% if page.title == "404 Not Found" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/atom.xml' | prepend: site.baseurl | prepend: site.url }}">

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/css/main.css' | prepend: site.baseurl }}"
    >
  </head>

  <body>
    <div class="body">
      <header class="site-header">
        <h1>
          <a aria-label="Go to Home page" title="home" rel="noopener" href="/">
            {{ site.title }}
          </a>
        </h1>
        <a class="to-main-content" rel="noopener" href="#main-content">
          Go to main content
        </a>
      </header>

      <nav class="site-nav">
        <ul>
          {% for link in site.links %}

          {% if link.url contains 'bits' and page.url contains 'bits' %}
          {% assign full_link = page.url | prepend: site.baseurl %}
          {% else %}
          {% assign full_link = link.url | append: "/" | prepend: site.baseurl %}
          {% endif %}

          <li>
            <a
              {% if page.url == full_link %}aria-current="page"{% endif %}
              rel="noopener"
              href="{{ link.url }}"
            >
              {{link.title}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      <aside class="site-widgets">
        <!-- https://duckduckgo.com/params -->
        <form class="search-box" method="get" action="https://duckduckgo.com/">
          <div role="search">
            <input name="q" aria-labelledby="search-btn" type="search"
              maxlength="255" placeholder="Search site..." required>
            <input type="hidden" name="sites"
              value="search-and-deploy.gitlab.io">
            <input type="hidden" name="kh" value="1">
            <input type="hidden" name="kg" value="p">
            <input type="hidden" name="k1" value="-1">
            <input type="hidden" name="k7" value="#f4f5f6">
            <input type="hidden" name="k8" value="#373f51">
            <input type="hidden" name="k9" value="#006394">
            <input id="search-btn" type="submit" value="Search">
          </div>
        </form>
        <a class="feed" href="/atom.xml">
          <img alt="Subscribe to Atom feed" src="/images/feed.svg">
        </a>
      </aside>

      <main id="main-content" class="site-main">
        {{ content }}
      </main>

      <footer class="site-footer">
        <ul class="footer-license">
          <li>
            <a rel="license noopener noreferrer" href="{{ site.data.sites.licenses.by-sa }}">
              <img alt="{{ site.data.sites.licenses.by-sa-alt }}"
                src="{{ site.data.sites.licenses.by-sa-svg }}" />
            </a>
          </li>
          <li>
            <a rel="noopener" href="/">
              Search &amp; Deploy
            </a>
          </li>
        </ul>
      </footer>

    </div>{% comment %}.body{% endcomment %}
  </body>
</html>
