---
layout: default
---

<section class="video">
  <header>
    <h1>{{ page.title }}</h1>
    <p>
      <small>by {{ page.speaker }}</small>
    </p>
  </header>

  <article>
    <p>
      {{ page.description }}
    </p>
    <div class="video-frame">
      <iframe title="{{ page.title }} by"
        src="{{ site.data.sites.sites[page.site] | replace: '!ID!', page.id }}"
        frameborder="0"
        {% if page.site == "youtube"%}
        sandbox="allow-same-origin allow-scripts"
        {% else %}
        sandbox="allow-scripts"
        {% endif %}
        allow="encrypted-media"
        allowfullscreen>
      </iframe>
    </div>

    <p>
      <small>
        {% if page.site == "peertube" %}
        Read
        <a rel="content-license nofollow noopener noreferrer"
          href="https://peertube.social/about/peertube#p2p-privacy">
          Peertube Social's info on P2P & Privacy
        </a>
        {% elsif page.site == "youtube" %}
        YouTube Privacy Enhanced Mode on.
        <a rel="nofollow noopener noreferrer"
          href="https://support.google.com/youtube/answer/171780?hl=en">
          Ad-tracking
        </a>
        still on, though.
        {% else %}
        Tracking enabled from source. At least, this page loads faster.
        {% endif %}
      </small>
    </p>

    <p>
      <small>
        License details at
        <a rel="content-license nofollow noopener noreferrer"
          href="{{ site.data.sites.licenses[page.license] }}">
          {{ page.license }}
        </a>
      </small>
    </p>
  </article>
</section>
