---
layout: default
title: Playlists
---

<section class="playlists">
  {% include page-title.html %}
  <hr>
  <p>
    Talks, screencast, video chats, webinars, and other media covering asorted
    software development topics.
  </p>
  <dl class="playlist">
    {% for list in site.data.playlists %}
    {% assign playlist = list[1] %}
    <dt>
      <a rel="noopener" href="{{ playlist.slug | prepend: site.baseurl }}">
        {{ playlist.title }}
      </a>
    </dt>
    <dd>
      {{ playlist.description }}
    </dd>
    {%endfor%}
  </dl>
</section>
